<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/flights/new">New Flight</a> &nbsp;| &nbsp;
        <a href="/flights">All Flights</a>
    </nav>